:root{
    --fondo: #010206;
    --fondo-card: #FCFAFC;
    --text-span: #a5a3ac;
}


body{
    background: rgb(253,108,42);
    background: linear-gradient(90deg, rgba(253,108,42,1) 4%, rgba(29,209,240,1) 17%, rgba(106,11,89,1) 49%, rgba(43,43,132,1) 75%, rgba(29,209,240,1) 96%);
    font-family: sans-serif;
    color: var(--fondo-card);
    font-size: 1.3rem;
    overflow: hidden;
}

.bg-image{
    position: absolute; /*Nos permite determinarlo por defecto para modificarlo*/
}

.bg-image--top{
    top: -100px;
    left: -120px; 
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}

.bg-image--bottom{
    bottom: -120px;
    right: -120px; 
    height: 28rem;
    width: 28rem;
    border-radius: 50%;
}

.card{
    position: relative; /*Nos permite mostrar la imagen al inferior de todo los elementos*/
    background-color: #010206;
    top: 10vh;
    height: 33rem;/*altura*/
    width: 28rem;
    background-color: var(--fondo-card);
    color: #010206;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    overflow: hidden;
}

.card__header{
    position: relative;
    height: 12rem;
    text-align: center;

}

.card__header-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card__header-profile{
    position: absolute;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    top: 5rem;
    right: 9rem;
    border: 5px solid #FCFAFC;
}

.card__body{
    position: absolute;
    top: 15rem;
    width: 100%;
    height: 50rem;
    text-align: center;
    
}

.card__text{
    margin: 0.5rem 0rem;
}
.card__text--light{
    color: var(--text-span);
}

.card__footer{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 3rem;
    border-top: 2px solid rgba(56, 55, 55, 0.1);
}

.card__stats{
    display: inline-block;
    margin: 0rem 1rem;
}

.card__number{
    margin-bottom: 0.5em;
    font-size: 1.8rem;
}

.card__text-number{
    margin: 0;
}


