//Colores
$gris_oscuro: #222f3e;
$gris_claro: #8395a7;
$morado: #341f97;
$azul: #2e86de;
$azul_cielo: #01a3a4;
$negro: #000;
$blanco: #fff;

//Font 
$fuente_principal: "Poppins", sans-serif;

//Media queries
$telefono: 468px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;