:root{
    --color_fondo: #232D3F;
    --color__card1: #4D4C7D;
    --color__card2: #CD5C08;
    --color__card3: #1AACAC;
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark_cyan:  hsl(129, 100%, 13%);
    --letras: font-family: 'Roboto Mono', monospace;;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color_fondo);
}

.cards{
    display: flex;
    flex-direction: row;
    margin: 8rem 2rem;
    background-color: aliceblue;
}

.card{
     background-color: #1AACAC;
     margin: 0 .5rem;
     width: 100%;
     height: 25rem;
}

.card__boton{
    
}
