@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  background-color: v.$gris_oscuro;

  .contenido-header {
    padding: 2rem;
    @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  
}
